/*Navbar*/
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    background-color: #040cb3;
    display: flex;
    justify-content: left;
    width: 100%;
}

.navbar a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    margin: 0px 10px 0px 0px;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: 0.2s ease-in;
}

.navbar a:hover{
    cursor: pointer;
    background-color: #0e86d4;
}

.navbar span{
    transform: translate(200%, 0%);
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #189AB4;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 25px;
}

#logout-btn{
    transform: translate(700%, 0%);
}

.st-list{
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
}