/*body*/
*{
    margin: 0px;
    padding: 0px;
    font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body{
    background-image: url("../Images/overlay.jpg");
    height: 130vh;
    background-size: cover;
}

a{
    text-decoration: none;
}

input:focus {
    outline: none !important;
    border-color: gray !important;
}

/*login*/
.login-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 700px;
    height: 550px;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #dee0e1;
    border-radius: 4px;
}

.login-logo{
    display: flex;
    justify-content: center;
    margin: 5% 0% 2% 0%;
    height: 15%;
}

.login-desc{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #636466;
    font-size: 20px;
}

.title{
    margin: 3% 0% 0% 6%;
    font-size: 20px;
    font-weight: bold;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-form input{
    margin: 1% 6% 1% 6%;
    font-size: 16px;
    transition: ease-in 0.1s;
    padding: 6px;
    border: 1px solid black;
    border-radius: 5px;
}

.login-form input:hover{
    border: 1px solid gray;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}

#email-lab, #pass-lab{
    font-size: 17px;
    font-weight: bold;
    margin-left: 6%;
    margin-top: 4%;
    margin-bottom: 2%;
}

#log-submit{
    background-color: rgba(255, 0, 0, 0.705);
    border: 1px solid red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 20%;
    justify-content: center;
    padding: 10px 37px;
    border-radius: 25px;
    margin-top: 3%;
    margin-left: 70%;
}

#log-submit:hover{
    background-color: red;
}

.erpass, .eruser{
    display: none;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.459);
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}