*{
    margin: 0;
    padding: 0;
}

.reg-container input{
    margin: 1% 6% 1% 6%;
    font-size: 16px;
    transition: ease-in 0.1s;
    padding: 6px;
    border: 1px solid black;
    border-radius: 5px;
}

.nav_div{
    padding-top: 10px;  
    padding-bottom: 10px;
    position: relative;
    padding-left: 20px;
    background-color: rgba(202, 202, 202, 0.500);
    color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

a{
    color: rgb(0, 0, 255);
    font-size: 20px;
    margin: 5px;
    text-decoration: none;
    font-weight:bold;
}

a:hover{
    color: aliceblue;
}

.outerdiv{
    display: flex;
    align-content: center;
}

.reg_div{
    height: 100vh;
    width: 100%;
}

.reg-container{
    background-color: rgba(255, 255, 255, 0.479);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
